@import url('https://fonts.googleapis.com/css2?family=Abel&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
}

body{
    background-color: rgb(28, 176, 129);
}
nav{
    
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 46px;
    background-color: black;
    color: rgb(246, 236, 236);
}
nav ul li{
    padding:0 12px ;
}
.brand img{
    width: 44px;
    padding:0 8px ;
}
.brand{
   display: flex;
   align-items: center; 
   font-weight: bolder;
}
.container{
    min-height: 75vh;
    background-color: black;
    color:white;
    font-family: "Roboto Slab", serif;
    width:70%;
    display: flex;
    margin: 23px auto;
    border-radius: 12px;
    padding:34px ;
    background-image: url('music.jpg');
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: rgb(18, 18, 18);
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    flex-direction: column;
    
}
#myProgressBar{
    width:80vw;
    text-align:center;
}

.icons{
    cursor: pointer;
}
i{
    margin-top:14px;
    margin:10px;
    font-size: 0.5px;
    cursor: pointer;
}
.songItem{
  height:50px;
  display: flex;
  background-color: rgb(239, 229, 229);
  width:80%;
  color: black;
  margin:12px 0;
  justify-content: space-between;
    align-items: center;
    border-radius: 34px;;
}
.songItem img{
  width: 43px;  
  margin:0 23px ;
  border-radius: 34px;  
}
.timestamp{
    margin: 0 23px;
}